ios_device_name_1: '<device name>'
ios_device_name_2: '<device name>'
ios_device_name_prefix : '<device name prefix>'
http_device_name_1: '<device name>'
linux_device_name_1: '<device name>'
swagger_device_name_1: '<device name>'
radkit_service_serial: '<serial>'
radkit_identity: '<email>'
radkit_client_private_key_password_base64: '<cert password in base64>'